<template>
  <ToasterMessage v-if="showToast" :closeToastHandler="this.closeToaster"/>
  <div class="d-flex flex-column flex-md-row justify-content-evenly">
    <div class="p-2 flex-grow-1">
      <PartOne :onChange="onHandle" :addModel="addModel" :defaultDetails="this.defaultDetails" :errors="this.errors" :clearFilesButtonHandler = "clearFilesButtonHandler" />
    </div>
    <div class="p-5 align-self-center">OR</div>
    <div class="p-3 d-flex flex-column justify-content-around">
      
      <PartTwo @displayDetails="displayData" />
      <SubmitButton :submitButton="submitButton" class="mt-4"/>
    </div>
  </div>
</template>

<script>
import PartOne from "./PartOne.vue"
import PartTwo from "./PartTwo.vue"
import SubmitButton from "./SubmitButton.vue"
import ToasterMessage from "./Toaster.vue"


let filesNotSelected = [];
let template_data = require('../data/template_lookup.json');
let existingProjectNames= [];
for (let i = 1; i <= Object.keys(template_data.Templates).length; i++) {
    existingProjectNames.push(template_data.Templates[i].projectname)
}

export default {
  name: 'ConfigureForm',
  components: {
    PartOne,
    PartTwo,
    SubmitButton,
    ToasterMessage
  },
  data() {
    return {
      formData: {
        projectname: "",
        entities: [],
        users: [],
        selectedFileDetails: [],
      },
      defaultDetails: {},
      errors: {},
      filesNotSelected: [],
      showToast: false,
    }
  },
  methods: {
    onHandle(e) {
      this.formData.selectedFileDetails = [];
      filesNotSelected = [];
      if (e.target.type === "file") {
        //file validation
        for (let i = 0; i < Object.keys(e.target.files).length; i++) {
          if (e.target.files[i].type === "application/pdf")
            this.formData["selectedFileDetails"].push(e.target.files[i]);
          else
            filesNotSelected.push(e.target.files[i])
        }
      }
      this.errors = {}
    },
    addModel(name, model) {
      this.formData[name] = model;
      this.errors = {}
    },
    submitButton() {
      if (this.checkErrorinForm()) {
        this.countDownTimer();
        console.log(this.formData)
      }
    },
    displayData(temp) {
      this.defaultDetails = temp;
    },
    checkErrors(formData) {
      for (let obj in formData) {
        if (!formData[obj] || formData[obj].length === 0 && obj !== "filesNotSelected") {
          this.errors[obj] = `Please enter ${obj}.`
          if(obj === "selectedFileDetails" && formData[obj].length === 0)
            this.errors[obj] = `Please upload files.`
          if (filesNotSelected.length > 0)
            this.errors["filesNotSelected"] = `${filesNotSelected.length} file(s) is of the wrong type.`
        }
        if(existingProjectNames.includes(formData.projectname))
            this.errors["isExistingName"] = `${formData.projectname} already exists. Please enter a new project name.`
      }
    },
    checkErrorinForm() {
      this.errors = {}
      this.checkErrors(this.formData);
      if (Object.keys(this.errors).length === 0) {
        return true;
      }
      else {
        return false;
      }
    },
    countDownTimer() {
      this.showToast = true;
      setTimeout(() => {
        this.showToast = false;
      }, 5000)
    },
    closeToaster() {
      console.log("here first")
      this.showToast = false;
    },
    clearFilesButtonHandler() {
      this.formData.selectedFileDetails = [];
      filesNotSelected = [];
      this.errors.selectedFileDetails = "";
      this.errors.filesNotSelected = "";
    }
  }
}

</script>

<style>

</style>