<template>
    <nav class="navbar">
        <div class="d-flex flex-row justify-content-start align-items-center">
            <div class="app-name" to="/">Med<img class="icon" src="../assets/cat-logo.png">AT</div>
            <!--<router-link class="navbar-brand" to="/">Projects</router-link>
            <router-link class="navbar-brand" to="/demo">Demo</router-link>
            <span class="version-id">v2.3.6</span>-->
        </div>
        <!--<a class="navbar-brand ml-auto small">
            <span @click="loginModal = true">
                <span class="link" v-if="uname === null">Login</span>
                <span class="link" v-if="uname !== null">
                    (admin)
                    <font-awesome-icon icon="user"></font-awesome-icon>
                </span>
            </span>
            <span v-if="uname !== null" class="link logout" @click="logout">logout</span>
        </a>-->
    </nav>
</template>
  
<script>
export default {
    name: 'NavBar',

}
</script>
  
<style scoped>
.right {
    float: right;
}

.small {
    font-size: 14px;
    color: #fff !important;
}

.navbar {
    height: 60px;
    background-color: #0072CE;
}

.app-name {
    padding: 0 10px;
    font-size: 2.25rem;

    color: #fff;
}

.navbar-brand {
    color: #fff;
    border-bottom: 1px solid transparent;
    margin-left: 20px;
}

.link {
    padding-top: 10px;
    display: inline-block;
    height: 25px;
    cursor: pointer;
}

.logout {
    padding-left: 20px;
}

.icon {
    height: 38px;
    position: relative;
    bottom: 7px;
}

.version-id {
    display: inline-block;
    font-size: 10px;
    padding: 0 20px;
    color: #E5EBEA;
}
</style>
  