<template>
    <div class="select-template" v-if="Object.keys(templates).length > 0">
        <label for="p-2 select-project" class="form-label">Select from available project templates
        </label>
        <div class="doc-list">
            <div v-for="template of templates" :key="template.ID" class="doc clickable d-flex flex-row justify-content-around align-items-center" @click="loadTemplate(template)">
                <div class="note-summary">
                    {{ template.projectname }}
                </div>
                <div>&times;</div>
            </div>
        </div>
    </div>
    <div v-if="Object.keys(templates).length === 0"><i>No templates are available. </i></div>
</template>
  
<script>
import { createOptions } from '../utils/createOptions'

let template_data = require('../data/template_lookup.json');

export default {
    name: 'PartTwo',
    emits: ["displayDetails",],
    data() {
        return {
            templates: template_data["Templates"],
            selectedTemplate: [],
            templateOptions: createOptions(template_data["Templates"], "projectname"),
        }
    },
    methods: {
        loadTemplate(temp) {
            this.$emit('displayDetails', temp)
        },
    }
}
</script>
  
<style>
.doc-list {
    height: 20rem;
    overflow: auto;
    scrollbar-width: thin;
    border-bottom: 1px solid rgba(0, 0, 0, 0.01);
}

.doc {
    padding: 5px 3px;
    border-radius: 5px;
    color: #747572;
    margin: 15px 15px;
    box-shadow: 2px 1px 4px 3px rgba(0, 0, 0, 0.2);
}

.clickable {
    cursor: pointer;
}

.note-summary {
    padding: 1rem;
    overflow: hidden;
    position: relative;
    /* 5 lines */
}

.select-template{
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(85, 85, 85, 0.4);
    border-radius: 1rem;
}
</style>