<template>
    <form>
        <div class="row d-flex flex-column">
            <div class="col p-3">
                <label for="projectname" class="form-label">Project name <span class="mandatory-signal">*</span></label>
                <input type="text" class="form-control" id="projectname" required placeholder="my-new-project"
                    v-model="projectName">
            </div>
            <div class="col px-4 text-danger fs-6" v-show="this.errors.projectname">
                {{ this.errors.projectname }}
            </div>
            <div class="col px-4 text-danger fs-6" v-show="this.errors.isExistingName">
                {{ this.errors.isExistingName }}
            </div>

            <div class="col p-3">
                <label for="entities" class="form-label">Add Entities <span class="mandatory-signal">*</span></label>
                <v-select multiple :options="entityOptions" name="entities" v-model="selectedEntities"></v-select>
            </div>
            <div class="col px-4 text-danger fs-6" v-show="this.errors.entities">
                {{ this.errors.entities }}
            </div>

            <div class="col p-3">
                <label for="users" class="form-label">Select Users <span class="mandatory-signal">*</span></label>
                <v-select multiple :options="userOptions" name="users" v-model="selectedUsers"></v-select>
            </div>
            <div class="col px-4 text-danger fs-6" v-show="this.errors.users">
                {{ this.errors.users }}
            </div>

            <div class="col p-3">
                <label for="formFile" class="form-label">Upload Folder <span class="mandatory-signal">*</span></label>
                <div class="d-flex flex-row align-items-center">
                    <input ref="fileupload" class="form-control form-control-button align-self-baseline" type="file" id="formFile" name="formFile" v-on:change="this.onChange"
                        multiple directory="" webkitdirectory="">
                    <div class="m-2 btn btn-outline-primary btn-sm" type="submit" @click="clearFilesButton">Clear</div>
                </div>
            </div>
            <div class="col px-4 text-danger fs-6" v-show="this.errors.selectedFileDetails">
                {{ this.errors.selectedFileDetails }}
            </div>
            <div class="col px-4 text-danger fs-6" v-show="this.errors.filesNotSelected">
                {{ this.errors.filesNotSelected }}
            </div>

            <div class="col p-3">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="save-template" v-model="saveTemplate">
                    <label class="form-check-label" for="save-template">Save as template</label>
                </div>
            </div>
        </div>
    </form>
</template>
  
<script>
import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css';
import { createOptions } from '../utils/createOptions'

let entities_data = require('../data/entity_lookup.json');
let user_data = require('../data/user_lookup.json');


export default {
    name: 'PartOne',
    props: ['onChange', 'addModel', 'defaultDetails', 'errors', 'clearFilesButtonHandler'],
    components: { vSelect },
    data() {
        return {
            projectName: "",
            entityOptions: createOptions(entities_data["Entities"], "Entity"),
            userOptions: createOptions(user_data["MedcatUsers"], "Name"),
            selectedEntities: [],
            selectedUsers: [],
            saveTemplate: false,
        }
    },
    methods: {
        clearFilesButton() {
            this.$refs.fileupload.value = null;
            this.clearFilesButtonHandler();
        }
    },
    watch: {
        projectName(newVal) {
            this.addModel("projectname", newVal)
        },
        selectedEntities(newVal) {
            this.addModel("entities", newVal)
        },
        selectedUsers(newVal) {
            this.addModel("users", newVal)
        },
        saveTemplate(newVal) {
            this.addModel("saveTemplate", newVal)
        },
        defaultDetails(newVal) {
            this.projectName = newVal.projectname;
            this.selectedEntities = newVal.entities;
            this.selectedUsers = newVal.users;
        }
    }
}
</script>
  
<style>
.mandatory-signal{
    color: #DB0000;
}

.form-control-button{
  height : 3rem !important;
}
</style>