<template>
    <button class="p-2 w-100 btn btn-primary btn-lg" type="submit" @click="submitButton">Create
        Project</button>
</template>

<script>
export default {
    name: 'SubmitButton',
    props: ['submitButton']
}
</script>

<style>

</style>