<template>
    <div class="toaster d-flex flex-row flex-end justify-content-around">
        <div class="toast-body">
            <em>New project is created. Files are uploading.</em> <button type="button" class="ml-2 mb-1 close"
                data-dismiss="toast" aria-label="Close" @click="this.closeToastHandler">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    </div>
</template>

<script>

export default {
    name: 'ToasterMessage',
    props: ['closeToastHandler'],
}
</script>

<style>
.toaster {
    padding: 5px;
    margin: 1rem;
    border-radius: 5px;
    color: #fff;
    background-color: #2b9348;
    position: fixed;
    right: 0;
    top: 3rem;
}

span {
    color: #fff;
}
</style>