<template>
  <NavBar />
  <div class="container">
    <MainHeading />
    <ConfigureForm />
  </div>
</template>

<script>
import ConfigureForm from "./components/ConfigureForm.vue"
import MainHeading from "./components/MainHeading.vue"
import NavBar from "./components/Navbar.vue"

export default {
  name: 'App',
  components: {
    ConfigureForm,
    MainHeading,
    NavBar
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

#app {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  max-width: 90%;
}
</style>
